/*Mobile First*/

article.task {
    padding: 0px 25px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 35px;
}

article.task > h3 {
    color: rgb(241, 102, 126);
    font-size: 1.6rem;
}

article.task > p {
    color: white;
}


article.task > div.icons > span {
    color: white;
    cursor: pointer;
}

article.task > div.icons > span:last-child {
    margin-left: 15px;
}

.material-symbols-outlined.bookmark {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined.bookmark-completed {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.completed {
    text-decoration: line-through;
}